 <h1>Shows Details</h1>

<%= button_to 'attend', event_event_attendees_path(event_id: @event.id), method: :post %>


<ul>
  <li><%= @event.date %></li> 
  <li><%= @event.location %></li>
</ul>


    <% @event_attendees.each do |event_attendee| %>
      <% if @event.id == event_attendee.attended_event_id %>
      <ul>
        <li><%= event_attendee.attendee_id %></li>
      </ul>
      <% end %>
    <% end %>


