<h1>Shows Details</h1>

<%= link_to 'attend', [@event, :event_attendance], data: { turbo_method: :post } %>

<ul>
  <li><%= @event.date %></li> 
  <li><%= @event.location %></li>
</ul>

<ul>
  <% @event.event_attendees.each do |event_attendee| %>
    <li><%= event_attendee.email %></li>
  <% end %>
</ul>
