<h1>Shows Details</h1>

<%= link_to 'attend', new_event_attendee_path(@event_attendees.attendee), data: { turbo_method: :post } %>

<ul>
  <li><%= @event.date %></li> 
  <li><%= @event.location %></li>
</ul>

<ul>
  <% @event_attendees.attendee.event.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>
