 <h1>Shows Details</h1>

<%= button_to 'attend', event_event_attendees_path(event_id: @event.id), method: :post %>


<ul>
  <li><%= @event.date %></li> 
  <li><%= @event.location %></li>
</ul>


<ul>
  <% if false %>
    <% @event_attendees.each do |event_attendee| %>
      <li><% if @event.id == event_attendee.attended_event_id %></li>
        <li><%= event_attendee.attendee_id %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>


