<header>
  <div>
    <nav>
      <ul>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Make New Event", new_event_path %></li>
        <li><%= link_to "Users", current_user %></li>
      </ul>
    </nav>
  </div>
</header>