<header>
  <div>
    <nav>
      <ul class="nav_bar">
        <li><%= link_to "All Events", events_path %></li>
        <li><%= link_to "Make New Event", new_event_path %></li>
        <li><%= link_to "View User's Events", sessions_path %></li>
      </ul>
    </nav>
  </div>
</header>
